<h1>Authors</h1>

<%= link_to "Add author", new_author_path %>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Homepage
    </th>
    <th colspan="2"></th>
  </tr>

  <% @authors.each do |author| %>
    <tr>
      <td><%= link_to author.name, author_path(author) %></td>
      <td><%= author.homepage %></td>
      <td><%= link_to "Show", author_path(author) %></td>
      <td><%= link_to "Edit", edit_author_path(author) %></td>
    </tr>
  <% end %>
</table>
